@media (max-width: 992px) {
  .container {
    width: 90%;
  }
  .post-block {
    width: 400px;
  }
}
@media (max-width: 776px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .post-block {
    margin: 10px;
  }
  .post-block h1 {
    font-size: 20px;
  }
  .post-block p {
    font-size: 13px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-content h1 {
    font-size: 25px;
    text-align: center;
  }
  .hero-content button {
    font-size: 15px;
    text-align: center;
  }
  .john_img {
    margin-top: 20px;
  }
}
@media (max-width: 400px) {
  .hero-content h1 {
    font-size: 40px;
  }
  .hero-content p {
    font-size: 15px;
  }
  .hero-content button {
    font-size: 12px;
  }
  .post-block {
    width: 80%;
  }
  .post-bottom {
    display: flex;
    flex-direction: column;
  }
  .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work-info h1 {
    font-size: 20px;
  }
  .work-info p {
    font-size: 13px;
  }
}
